.list-view {
  display: flex;
  flex-direction: column;
  margin: 16px;
  flex: 0 0 350px;
  height: calc(100vh - 103px);
  width: 350px;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 16px 1px;
}

.list-view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
}

.list-view-actions {
  display: flex;
  flex-direction: row;
}

.list-view-filter {
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
}

.list-view-header > *:not(:last-child) {
  margin-right: 4px;
}

.list-view-actions > *:not(:last-child) {
  margin-right: 8px;
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dropzone-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px dashed;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-info {
  font-weight: bold;
  font-size: 32px;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
