[submodule "tusk-manager-backend"]
	path = tusk-manager-backend
	url = https://github.com/EmilyOng/tusk-manager-backend.git
[submodule "tusk-manager-frontend"]
	path = tusk-manager-frontend
	url = https://github.com/EmilyOng/tusk-manager-frontend.git
[submodule "tusk-manager-docs"]
	path = tusk-manager-docs
	url = https://github.com/EmilyOng/tusk-manager-docs.git
