.board-information {
  height: 100%;
  display: flex;
  align-content: center;
}

.board-members {
  margin-left: 16px;
  display: flex;
}

.board-members > *:not(:last-child) {
  margin-right: 4px;
}

.board-actions {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
}

.board-header {
  height: 40px;
  margin: 8px 16px;
}

.board-actions > *:not(:last-child) {
  margin-right: 8px;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.member-info {
  display: flex;
  flex-direction: column;
}

.member-avatar > *:not(:last-child) {
  margin-right: 4px;
}

.member-role {
  font-weight: bold;
}
