.form-authentication {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container > * {
  margin-bottom: 8px;
}

.header-container > :last-child {
  margin-bottom: 16px;
}

.tabs.select-form-mode {
  margin-bottom: 8px !important;
}

.logo-attribution {
  text-align: center;
}
