.dashboard {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 100% !important;
  overscroll-behavior: none;
}

.dashboard:first-child {
  margin-left: 0px;
}

.dashboard:last-child {
  margin-right: 0px;
}
