.card {
  margin: 4px 8px;
  border-radius: 12px;
  cursor: grab;
}

.card-content {
  padding: 16px;
}

.content {
  font-weight: bold;
}

.card-footer-item.due-at {
  justify-content: flex-start;
}

.card-info-section {
  display: flex;
}

.action-menu {
  justify-self: flex-end;
}
