.form-fields {
  display: flex;
  flex-direction: row;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.color-field {
  margin-left: 16px;
}

.name-field,
.color-field {
  flex: 1;
}
