.board-information {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.board-actions {
  display: flex;
}

.board-header {
  height: 40px;
  margin: 8px 16px;
}

.board-actions > *:not(:last-child) {
  margin-right: 8px;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
