.form-fields {
  display: flex;
  flex-direction: row;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.color-field {
  margin-left: 16px;
}

.color-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-field,
.color-field {
  flex: 1;
}

.square {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.square.Turquoise {
  background-color: var(--turquoise);
}

.square.Blue {
  background-color: var(--blue);
}

.square.Cyan {
  background-color: var(--cyan);
}

.square.Green {
  background-color: var(--green);
}

.square.Yellow {
  background-color: var(--yellow);
}

.square.Red {
  background-color: var(--red);
}
