.list-view {
  display: flex;
  flex-direction: column;
  margin: 16px;
  flex: 0 0 350px;
  height: calc(100vh - 103px);
  background-color: #fff;
  border-radius: 12px;
  border-top-width: 10px;
  border-top-style: solid;
}

.list-view.Completed {
  border-top-color: var(--green);
}

.list-view.Unstarted {
  border-top-color: var(--yellow);
}

.list-view.InProgress {
  border-top-color: var(--cyan);
}

.list-view-title {
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
