.list-view {
  display: flex;
  flex-direction: column;
  margin: 16px;
  flex: 0 0 350px;
  height: calc(100vh - 103px);
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  border-top-width: 10px;
  border-top-style: solid;
  box-shadow: 1px 1px 16px 1px;
}

.list-view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
}

.list-view-actions {
  display: flex;
  flex-direction: row;
}

.list-view-actions > *:not(:last-child) {
  margin-right: 8px;
}

.list-view.Completed {
  border-top-color: var(--green);
}

.list-view.Unstarted {
  border-top-color: var(--yellow);
}

.list-view.InProgress {
  border-top-color: var(--cyan);
}

.list-view-title {
  font-weight: bold;
  font-size: 16px;
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dropzone-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px dashed;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-info {
  font-weight: bold;
  font-size: 32px;
}
