.board-tags-dashboard {
  margin: 16px;
}

.board-tags-header {
  display: flex;
  margin-bottom: 16px;
}

.board-tags-header > *:not(:last-child) {
  margin-right: 8px;
}

.color-field {
  display: flex;
  align-items: center;
}

.tags-container {
  display: flex;
  flex-direction: column;
}

.tag-action-field {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.tag-action-field > *:not(:last-child) {
  margin-right: 8px;
}

.deleted-field {
  opacity: 0.3;
}

.form-control {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
