:root {
  /* Modified from https://bulma.io/documentation/helpers/color-helpers/ */
  --turquoise: hsl(171, 100%, 75%);
  --blue: hsl(219, 70%, 75%);
  --cyan: hsl(204, 86%, 75%);
  --green: hsl(142, 52%, 75%);
  --yellow: hsl(48, 100%, 75%);
  --red: hsl(347, 90%, 75%);
}

html,
body {
  height: 100%;
}
