
/* Set color themes */
/* .tag.TurquoiseLight {
  background-color: var(--turquoise-light);
}
.tag.BlueLight {
  background-color: var(--blue-light);
}
.tag.CyanLight {
  background-color: var(--cyan-light);
}
.tag.GreenLight {
  background-color: var(--green-light);
}
.tag.YellowLight {
  background-color: var(--yellow-light);
}
.tag.RedLight {
  background-color: var(--red-light);
} */
